body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.warning {
  padding: 0 0.5em;
  background-color: orange;
  color: white;
  margin-left: 1em;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
